@font-face {
    font-family: 'latoHairline';
    src: url('../fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Hairline.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lato-Hairline.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'latoLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lato-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'birdhouse';
    src: url('../fonts/Another_Birdhouse.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Another_Birdhouse.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Another_Birdhouse.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Another_Birdhouse.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Another_Birdhouse.svg#svgFontName') format('svg'); /* Legacy iOS */
}